@media only screen and (min-width: 1024px){
    .academic {
        padding: 1rem 7rem;
        background: #EAF2FD;
    }

    .academic__title {
        text-align: center;
        font-size: 32px;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .academic__courses {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .academic__courses__box {
        height: 15rem;
        width: calc(100% / 3 - 1rem);
    }

    .academic__courses__item__img {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #ffffff;
        height: 8rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .academic__courses__item__title{
        padding-top: .5rem;
        padding-bottom: .5rem;
    }
}

/*@media only screen and (min-width: 768px){
    .academic {
        padding: 2rem;
    }

    .academic__courses__list {
        padding: 0;
    }

    .academic__courses__box {
        width: calc(100% / 3 - 1rem);
    }

    .academic__courses__item__img {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .academic__courses__item__img.alura {
        padding: 0;
    }

    .alura .academic-logo {
        max-height: 100px;
    }
}*/
