@media only screen and (min-width: 1024px){
    .skills {
        padding: 1rem 8rem;
    }

    .skills__title {
        text-align: center;
        font-size: 32px;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .skills__line {
        display: flex;
        width: 100%;
        justify-content: space-around;
    }

    .skills__box {
        display: flex;
        flex-direction: column;
        background: #ffffff;
        height: 8rem;
        width: calc(100% / 7 - 1rem);
        justify-content: flex-end;
        align-items: flex-start;
    }

    .skills__box ul {
        padding-left: 0.5rem;
    }

    .skills__img {
        margin-bottom: .5rem;
    }

}

